.col-border {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: darkcyan;
}

p{
    color: aliceblue;
}

.pg2 .row {
    width: 90%;
    margin: auto;
    margin-top: 2%
}

.pg3 .row {
    margin: 0 auto;

}



.pg3 img {
    margin: auto;
    float: left;
    height: 150px;
}

.pg3 .footer {
    color: aqua;
}

.pg3 h2{
    color: aliceblue;
    float: left;
}

.pg3 h4{
    color: aqua;
    float: left;
}

body {
    background-color: lightgrey;
}

.card-body{
    color: aqua;
    padding: 10px
}

.pg1 {
    width: 100%;
    margin: auto;
}

.card-text {
    font-size: 0.8em;
    color: white;
    margin-top: 0px
}

.poster {
    margin-top: 2%;
    border-style: solid;
    border-color: #343a40;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.card-pos {
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: auto
}

.pos {
    padding-top: 80px;
}

.top {
    padding-top: 50px;
}

section {
    height: 100%;
    background-color: #4e555b;
}

@media only screen and (max-device-width: 1000px) {
    .parallax1 {
        /* The image used */
        background-image: url("https://static.pexels.com/photos/59519/pexels-photo-59519.jpeg");
        /* Set a specific height */
        height: 70vh;
        /* Create the parallax scrolling effect */
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .parallax2 {
        /* The image used */
        background-image: url("https://static.pexels.com/photos/297755/pexels-photo-297755.jpeg");
        /* Set a specific height */
        height: 70vh;
        /* Create the parallax scrolling effect */
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .parallax3 {
        /* The image used */
        background-image: url("https://static.pexels.com/photos/248771/pexels-photo-248771.jpeg");
        /* Set a specific height */
        height: 70vh;
        /* Create the parallax scrolling effect */
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .pg1 {
        background-color: #4e555b;
    }

    .pg3 .details {
        padding: 4%;
        float: left;
        width: 100%;
    }
}

@media only screen and (min-device-width: 1000px) {

    .navbar {
        height: 50px;
    }

    a.navbar-brand {
        padding: 0;
    }

    .navbar-brand {
        height: 50px;
    }

    .pg3 .details {
        float: left;
        width: 60%;
    }

    .pg1 {
        position: absolute;
        bottom: 0vh;
        background-color: #000000;
        background-color: rgba(0,0,0,0.7);
    }

    .pg2 .row .col{
        background-color: #000000;
        background-color: rgba(0,0,0,0.6);
    }

    .pg2 {
        width: 100%;
        position: absolute;
        bottom: -100vh;
        background-color: #000000;
        background-color: rgba(0,0,0,0.7);
    }

    .pg3 {
        width: 100%;
        position: absolute;
        bottom: -200vh;
        background-color: #000000;
        background-color: rgba(0,0,0,0.7);
    }

    .parallax1 {
        /* The image used */
        background-image: url("https://static.pexels.com/photos/59519/pexels-photo-59519.jpeg");
        /* Set a specific height */
        height: 100vh;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .parallax2 {
        /* The image used */
        background-image: url("https://static.pexels.com/photos/297755/pexels-photo-297755.jpeg");
        /* Set a specific height */
        height: 100vh;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .parallax3 {
        /* The image used */
        background-image: url("https://static.pexels.com/photos/248771/pexels-photo-248771.jpeg");
        /* Set a specific height */
        height: 100vh;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}







