.col {

    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: darkcyan;
}
body {
    background-color: lightgrey;

}
.poster {
    margin-top: 2%;
    border-style: solid;
    border-color: #343a40;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.card-pos {
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pos {
    padding-top: 80px;
}

.top {
    padding-top: 50px;
}

#whatwedo {
    height: 100%;
    background-color: #4e555b;
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
    .parallax1 {
        /* The image used */
        background-image: url("https://static.pexels.com/photos/59519/pexels-photo-59519.jpeg");
        /* Set a specific height */
        height: 70vh;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .parallax2 {
        /* The image used */
        background-image: url("https://static.pexels.com/photos/248771/pexels-photo-248771.jpeg");
        /* Set a specific height */
        height: 70vh;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .pg1 {
        background-color: #4e555b;
    }
}

@media only screen and (min-device-width: 1366px) {
    .pg1 {
        position: absolute;
        bottom: 0vh;
        background-color: #000000;
        background-color: rgba(0,0,0,0.7);
    }

    .pg2 {
        width: 100%;
        position: absolute;
        bottom: -100vh;
        background-color: #000000;
        background-color: rgba(0,0,0,0.7);
    }
    .parallax1 {
        /* The image used */
        background-image: url("https://static.pexels.com/photos/59519/pexels-photo-59519.jpeg");
        /* Set a specific height */
        height: 100vh;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .parallax2 {
        /* The image used */
        background-image: url("https://static.pexels.com/photos/248771/pexels-photo-248771.jpeg");
        /* Set a specific height */
        height: 100vh;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}







